azure-mgmt-network==22.2.0
chaostoolkit==1.15.0
chaostoolkit-lib==1.33.1
chaostoolkit-aws==0.21.2
chaostoolkit-azure==0.11.0
chaostoolkit-google-cloud-platform==0.8.0
chaostoolkit-kubernetes==0.26.3
kubernetes==24.2.0
openstacksdk==1.0.0
python-box==7.0.0
PyYAML==6.0
urllib3==1.26.14

## The following libs are needed for vSphere, but they are not available with standard mechanisms.
## Instead follow https://github.com/vmware/vsphere-automation-sdk-python#quick-start-guide and
## 1. Run "pip install --upgrade git+https://github.com/vmware/vsphere-automation-sdk-python.git"
## 2. Run "pip install -r requirements.txt" afterwards again to restore requests 2.28.x
##
#nsx-policy-python-sdk==4.0.1.0.0 
#pyVmomi==7.0.3
#vapi-client-bindings == 4.0.0