azure-mgmt-network==22.2.0
chaostoolkit==1.15.0
chaostoolkit-lib==1.33.1
chaostoolkit-aws==0.21.2
chaostoolkit-azure==0.11.0
chaostoolkit-google-cloud-platform==0.8.0
chaostoolkit-kubernetes==0.26.3
kubernetes==24.2.0
openstacksdk==1.0.0
python-box==7.0.0
PyYAML==6.0
urllib3==1.26.14
