name: CI (head-update)
on:
  push

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    with:
      mode: snapshot

  post-build:
    uses: gardener/cc-utils/.github/workflows/post-build.yaml@master
    needs:
      - build
    permissions:
      contents: write
      id-token: write
